# requirements.txt
python-dotenv~=1.0.1
python-gitlab~=4.2.0

# Core dependencies
pip~=23.3.2
wheel~=0.38.4
requests~=2.31.0
requests-toolbelt~=1.0.0
certifi~=2023.11.17
urllib3<2.0,>=1.21.1
idna~=3.6
charset-normalizer~=3.3.2
pillow<10
# YouTube Shorts Automation dependencies
pytrends~=4.9.0
openai~=0.28.0
gtts~=2.3.2
moviepy~=1.0.3
google-api-python-client~=2.100.0
google-auth-oauthlib~=1.0.0
google-auth~=2.22.0
